{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Cars {% endblock %}</h1>


    <form method="post">
        Make:<br/><input type="text" name="make"><br/>
        Model:<br/><input type="text" name="model"><br/>
        Year:<br/><input type="number" step="1" pattern="\d+" name="year"><br/>
        Location<br/><input type="text" name="location"><br/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {% if data != None %}
    <h2>Car Created:</h2>
    <p>
        Make: {{data.make}},
        Model: {{data.model}},
        Year: {{data.year}},
        Location: {{data.location}}
    </p>
    {% endif %}
{% endblock %}